.App {
    font-family: sans-serif;
    text-align: center;
  }
  .App button {
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    outline: none;
    background: crimson;
    color: white;
    cursor: pointer;
  }
 .App p {
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    border: 3px;
    outline: 10px;
    width: 100px;
    background: rgb(229, 206, 203);
    color: rgb(146, 114, 114);
    cursor: pointer; 
    display: inline-block;
  }

 .App h4 {
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    border: 3px;
    outline: 10px;
    background: rgb(107, 194, 188);
    color: white;
    cursor: pointer; 
    display: inline-block;
  }
 .App h5 {
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    border: 3px;
    outline: 10px;
    background: rgb(0, 0, 0);
    color: rgb(248, 248, 248);
    cursor: pointer; 
    display: inline-block;
  }
  #portal .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }
  .container .modal {
    z-index: 1;
    width: 350px;
    height: 220px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
  }
  .modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }